*{
  font-family: poppins, sans-serif;
}

html{
  user-select: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a{
  font-size: 17px;
  text-decoration: none;
  color:  rgb(0, 169, 11);
}
a:hover{

  color: rgb(211, 159, 0);
}

.navBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100%;
  backdrop-filter:blur(30px);
  background-color: rgba(0, 0, 0, 0.196);
  z-index: 100;
  border-bottom: 1px solid rgb(0, 169, 11);
}


.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img{
  width: 100px;
}

.logo p{
  font-size: 30px;
  color: rgb(211, 159, 0);
}

.infoBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 45px;
  flex-direction: row;
  list-style: none;
  color: black;
  padding-right: 20px;
}
.nav_info{
  display: flex;
  align-items: center;
  justify-content: end;
}

.humberger{
  display: none !important;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 25px;
  color: rgb(0, 169, 11);
  padding: 10px;
  border-radius: 6px;
  z-index: 1100;
}
.humberger:hover{
  background-color: rgba(0, 0, 0, 0.29);
}

.side-menu{
  position: fixed;
  top:80px;
  right: -250px;
  height: 260px;
  width: 220px;
  color: rgb(0, 169, 11);
  background-color: white;
  transition: right 0.3s ease-in-out;
  z-index: 1001;
  padding-top: 40px;
  border-bottom-left-radius: 5px;
  border: 1px solid rgb(0, 169, 11);
}
.side-menu.active{
  right: 0;
}
.side-menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.side-menu ul .icon{
  display: flex;
  justify-content: start;
  padding-left: 30px;
}
.side-menu li{
  padding: 15px 20px;
}

.close-btn{
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 22px;
  color:black;
  padding: 8px;
  border-radius: 8px;
}
.close-btn:hover{
   cursor: pointer;
   background-color: rgba(0, 0, 0, 0.24);
}
.overlay{
  position: fixed;
  top: 0;
  right:8px;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1000;
}
.overlay.show{
  display: block;
}
@media (max-width:995px){
  .nav_info{
    display:none !important;
  }
  .humberger{
    display: block !important;
  }
  .text_province h1{
  font-size: 50px !important;
  }
  .side-menu{
    display: block;
  }
}
@media(min-width:995px){
  .side-menu,.overlay{
    display: none !important;
  }
}
@media(max-width:345px){
  .logo img{
    width: 80px;
  }
  .navBar .logo p{
    font-size: 22px;
  }
}
.nav_info.show{
  display: flex;
}

.icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}

body{
  margin-top: 81px;
}

.admini{
  padding: 5px;
  padding-top: 70px;
  padding-bottom: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
  background-color: white;
  padding-top: -20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.textAdmini{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.textAdmini h1{
  font-weight: bold;
  color: rgb(0, 169, 11);
  font-size: 50px;
  animation: entree 1.5s ease forwards;
}
@keyframes entree {
  from{
    opacity: 0;
    transform:translate(25px);    
  }
  to{
    opacity: 1;
    transform: translate(0);
   
  }
}
.textAdmini p{
  font-size: 18px;
}

.imgAdmini img{
  height: 100% !important;
  width: auto !important;
  border-radius: 5px;
}
@media(max-width:1072px){
  .admini{
    padding-top: 20px;
  }
}

@media(max-width:1055px){
  .admini{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: auto;
  }
  .imgAdmini img{
    height: auto !important;
    width: 100% !important;
  }
}

@media(max-width:850px){
  .admini{
    padding-top: 0;
  }
  .textAdmini p{
    margin-top: 0;
  }
}

@media(max-width:755px){
  .textAdmini h1{
    font-size: 30px !important;
  }
}

.bibliographie{
  padding: 5px;
  border: 1px solid rgb(0, 169, 11);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  gap: 30px;
  margin-bottom: 40px;
}

.govener{
  padding:  5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  min-width: 407px !important;
}

.textGovener{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  flex:1;
  flex-wrap: wrap !important;
  min-width: 400px;
}
.textGovener h2{
  color: rgb(211, 159, 0);
  font-size: 30px;
  padding-left: 10px;
  border-left: 4px solid rgb(211, 159, 0);
}
@media(max-width:500px){
  .textGovener h2{
    font-size: 25px;
  }
}
.textGovener p{
  display: flex;
  font-size: 18px;
  padding-right: 40px;

}

.imgGovener{
  height: 420px;
  overflow: hidden;
  border-radius: 5px;
}
.imgGovener img{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  transition: transform 0.5s ease;
}
.imgGovener:hover img{
  transform: scale(1.03);
}
@media(max-width:775px){
 .govener{
  gap: 15px;
 }
}

.other{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.vcgovener{
  display: flex;
  flex-direction: column;
}
.textVcgovener{
  color: rgb(0, 169, 11);
  font-size: 18px;
  font-weight: bold;
}

.imgVcgovener{
  height: 420px;
  overflow: hidden;
  border-radius: 5px;
}
.imgVcgovener img{
  height: 100%;
  width: auto;
  border-radius: 5px;
  transition: transform 0.5s ease;
}
.imgVcgovener:hover img{
  transform: scale(1.03);
}

.officiel{
  display: flex;
  flex-direction: column;
}
.textOfficiel{
  color: rgb(0, 169, 11);
  font-size: 18px;
  font-weight: bold;
}

.imgOfficiel{
  height: 420px;
  overflow: hidden;
  border-radius: 5px;
}
.imgOfficiel img{
  height: 100%;
  width: auto;
  border-radius: 5px;
  transition: transform 0.5s ease;
}
.imgOfficiel:hover img{
  transform: scale(1.03);
}

@media(max-width:1095px){
  .bibliographie{
    gap: 0;
  }
  .other{
    display: flex;
    flex-direction: column;
  }
  .imgVcgovener,.imgOfficiel,.imgGovener{
    height: auto;
    padding: 0;
    width: auto;
  }
  .imgVcgovener img,.imgOfficiel img,.imgGovener{
    height: auto;
    width: 100%;
  }
}
@media(max-width:442px){
  .imgGovener{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imgGovener img{
    height: auto;
    width: 300px;
  }
  .govener{
    display: flex;
    align-items: center !important;
  }
}
.organisation{
  padding-top: 20px;
  padding-bottom: 10px;
  position: relative;
  width: 100%;
  background-image: url(./../img/admin/diversity-people-represent-international-conference-partnership_53876-42102.avif);
  background-position: start;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
  border-radius: 5px;
  gap: 20px;
}

.obscurite{
  border-radius: 5px;
  position: absolute;
  top: 0;left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.479);
  z-index: 2;
}

.organisation h2{
  position: relative;
  z-index: 2;
  color: rgb(75, 241, 86);
  font-size: 30px;
  font-weight: bold;
  padding-left: 10px;
  border-left: 4px solid rgb(75, 241, 86);

}

.org{
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  gap: 30px;
  color: white;
  font-size: 17px;
  padding-left: 20px;
}

.org li{
  font-size: 18px;
  font-weight: bold;
}

.orga2{
  border-left: 1px solid white;
  padding-left: 10px;
}

@media(max-width:790px){
  .org{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .orga2{
    border: none;
  }
}

.service{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.service h2{
  color: rgb(211, 159, 0);
  font-size: 30px;
  padding-left: 10px;
  border-left: 4px solid rgb(211, 159, 0);
}

.carteService{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media(max-width:1250px){
  .carteService{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "c1,c2"
                         "c3,c4";
                         gap: 40px;
  }
}


.c1{grid-area: "c1";}
.c2{grid-area: "c2";}
.c3{grid-area: "c3";}
.c4{grid-area: "c4";}

.carte{
  padding: 5px;
  border: 1px solid rgb(0, 169, 11);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  width: 290px;
  transition: transform 0.8s ease;
}

.carte:hover{
  transform: translateY(-15px);
}

.imgCarte{
  height: 360px;
  padding: 0;
  width: 290px;
}

.imgCarte img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.courte{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.courte img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}


.textCarte h3{
  color: rgb(0, 169, 11);
  font-size: 20px;
  padding-right: 5px;
}
.textCarte p{
  margin-top: -10px;
}

.transparence{
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  background-image: url(./../img/admin/architectural-detail-classical-building-with-columns_23-2152001229.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
  border-radius: 5px;
  gap: 20px;
}


.transparence h2{
  position: relative;
  z-index: 2;
  color: rgb(75, 241, 86);
  font-size: 30px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 4px solid rgb(75, 241, 86);
  margin-top: -10px;

}

.textTransparence{
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  gap: 40px;
  color: white;
  font-size: 17px;
  padding-left: 20px;
}

.transparence1{
  border-left: 1px solid white;
  padding-left: 5px;
}
.transparence1 li{
  font-weight: bold;
}

@media(max-width:675px){
  .carteService{
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .textTransparence{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
  }
  .transparence1{
    border: none;
  }
}

footer{
  margin: -10px !important;
}

.footerIcon{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(209, 209, 209);
}
@media(max-width:1000px){
  .titrePied{
    display: flex;
    flex-direction: column !important;
    align-items: center;
    gap: 40px !important;
     font-size: 25px;
  }
  .titrePied div h4,.classe li,.legal{
    font-size: 25px !important;
  }
}
@media(max-width:730px){
  .titrePied{  
    font-size: 18px;
  }
  .titrePied div h4,.classe li,.legal{
    font-size: 18px !important;
  }
}


.pied{
  background-color: rgb(7, 7, 72);
  color: rgba(211, 158, 0, 0.726);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: 18px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.titrePied{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
  margin-bottom: 10px;
}

.titrePied div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titrePied div h4{
  color: rgb(255, 255, 255);
}
.classe{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(209, 209, 209);
}

.classe li{
  padding: 5px;
}
.classe a{
  color:rgb(209, 209, 209);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.classe a:hover{
  color: white;
}


.legal{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top: 1px solid rgb(75, 75, 78);
}
.legal p{
   color: rgb(209, 209, 209);
}

@media(max-width:400px){
  body{
    margin-right: -50px;
  }
}
